<h1><%= @actor.name %></h1>
<p><%= @actor.bio %></p>
<% @actor.characters.each do |character| %>
  <strong><%= character.name %> - <%= character.movies.map {|m| m.name}.uniq.join(", ") %></strong><br>
<% end %>
