<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        background-image: url(http://saganmorrow.com/wp-content/uploads/2011/08/movie-theatre.jpg);
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      .margin {
        margin-left:5px
      }
    </style>
  </head>
  <body>
    <div class="margin">
    <h1>All Movies</h1>

    <% @movies.sort_by{|m| m.name}.each do |movie| %>
      <%= link_to movie.name, movie %><br>
    <% end %>

    </div>
  </body>
</html>
