<h1><%= @movie.name %></h1>
<p> <strong><u>Budget:</u></strong> <%= @movie.budget %></p>
<p> <strong><u>Genre:</u></strong> <%= @movie.genre %></p>
<p> <strong><u>Producer/Producing Company:</u></strong> <%= @movie.producer %></p>
