
<h2>Hello, <%= @user.username %>!</h2>


<p>Your Movies:</p><br>
  <ul>
    <% @user.movies.each do |m| %>
      <li> <%= m.name %> </li>
    <% end %>
  </ul>

<%= link_to "Add Movies!", edit_user_path %>
