<h1>All Characters</h1>

<% @characters.sort_by{|c|c.name}.each do |character| %>
  <strong><%= link_to character.name, character %></strong>
  <% if character.movies != [] %>
  <% character.movies.uniq.each do |m| %>
  - <u><%= link_to m.name, m %></u><br>
      <% end %>
    <% else %>
    <br>
  <% end %>
<% end %><br>
