<h1><%= @character.name %></h1>
<% @character.actors.each do |actor| %>
  <%= link_to actor.name, actor %>
  <% if actor.movies %>
  <% actor.movies.uniq.each do |m| %>
  - <%= link_to m.name, m %><br>
    <% end %>
  <% end %>
<% end %>
