<% if @movies.empty? %>
  <h4>Nothing found </h4>
  <% else %>
  <ul>

    <% @movies.each_with_index do |movie, i| %>
      <% break if i == 10 %>
      <li><%= link_to movie["title"], movie_path(Movie.find_by(name: movie["title"])) %> <br></li>
    <% end %>
  </ul>
<% end %>
