<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body {
      background-image: url(https://i.ytimg.com/vi/SD-1qxm6eSg/maxresdefault.jpg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 50%

    }
    </style>
  </head>
  <body>


<p style="float:right" class="search"><%= form_tag(generals_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
<%= submit_tag "Search", :name => nil %></p>
<% end %>

</body>
</html>
